<fieldset>
    <div class="control-group">
        <label class="control-label" for="input01">Title</label>
        <div class="controls">
            <input type="text" class="span3" id="input01">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input02">Description</label>
        <div class="controls">
            <input type="text" class="span3" id="input02">
        </div>
    </div>
    <div class="controls">
        <button class="btn js-revert-btn">Revert to original</button>
    </div>
</fieldset>
<br><br>
<div class="display">
    <h4>Model</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="title" style="width:450px;"></td>
                <td class="description"></td>
            </tr>
        </tbody>
    </table>
</div>
