<ul class="nav nav-tabs">
    <li class="active"><a href="#modal">Modal</a></li>
    <li><a href="#list">List</a></li>
    <li><a href="#form">Form</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active"></div>
</div>
