<div class ="row">
    <div class="span12">
        <button id="baseList" class="btn btn-modal">Base List</button>
        <button id="eventList" class="btn btn-modal">Extended List</button>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="listDisplay"></div>
    </div>
</div>