<div class="row">
    <div class="span12">
        <button id="base" class="btn btn-modal">Base Modal</button><br><br>
        <button id="model" class="btn btn-modal">Model Modal</button><br><br>
        <button id="collection" class="btn btn-modal">Collection Modal</button><br><br>
        <button id="custom" class="btn btn-modal">Custom Modal</button><br><br>
        <button id="event" class="btn btn-modal">Event Modal</button><br><br>
        <button id="callback" class="btn btn-modal">Callback Modal</button><br><br>
        <button id="selection" class="btn btn-modal">Selection Modal</button><br><br>
    </div>
</div>